Repository Carrera-Dev-Consulting/zombie-nomnom-2d, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, tests, addons, devops, documentation

.github/labeler.yml:

enhancement:
  - changed-files:
      - any-glob-to-any-file:
          - "**"
      - all-globs-to-all-files:
          - "!**/*.md"
      - all-globs-to-all-files:
          - "!assets/**"
      - all-globs-to-all-files:
          - "!tests/**"
      - all-globs-to-all-files:
          - "!addons/**"
      - all-globs-to-all-files:
          - "!.github/**"
assets:
  - changed-files:
      - any-glob-to-any-file:
          - "assets/**"
tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
addons:
  - changed-files:
      - any-glob-to-any-file:
          - "addons/**"
devops:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"

Update pull_request_meta.yaml
  .github/workflows/pull_request_meta.yaml
Labels: devops

ci(meta): Update when the labeler runs and the linting to happen on pushes. (#29)
  .github/workflows/pull_request_meta.yaml
Labels: devops

Adding Scenes for dice that we will load into the game
  project.godot
  scenes/entities/dice/brains/green_brain.tscn
  scenes/entities/dice/brains/red_brain.tscn
  scenes/entities/dice/brains/yellow_brain.tscn
  scenes/entities/dice/empty_die.tscn
  scenes/entities/dice/runs/green_run.tscn
  scenes/entities/dice/runs/red_run.tscn
  scenes/entities/dice/runs/yellow_run.tscn
  scenes/entities/dice/shots/green_shot.tscn
  scenes/entities/dice/shots/red_shot.tscn
  scenes/entities/dice/shots/yellow_shot.tscn
Labels: none

feat(#23): Adding Scenes for dice that we will load into the game (#30)
  project.godot
  scenes/entities/dice/brains/green_brain.tscn
  scenes/entities/dice/brains/red_brain.tscn
  scenes/entities/dice/brains/yellow_brain.tscn
  scenes/entities/dice/empty_die.tscn
  scenes/entities/dice/runs/green_run.tscn
  scenes/entities/dice/runs/red_run.tscn
  scenes/entities/dice/runs/yellow_run.tscn
  scenes/entities/dice/shots/green_shot.tscn
  scenes/entities/dice/shots/red_shot.tscn
  scenes/entities/dice/shots/yellow_shot.tscn
Labels: none

Creating dice component that can roll a face
  scenes/entities/dice/dice.gd
  scenes/entities/dice/dice.gd.uid
  scenes/entities/dice/dice.tscn
  scenes/layouts/test_roll_die/main.gd
  scenes/layouts/test_roll_die/main.gd.uid
  scenes/layouts/test_roll_die/test.tscn
Labels: none

Make a demo scene and make sure we can switch to a new die face with each roll.
  scenes/entities/dice/dice.gd
  scenes/layouts/test_roll_die/main.gd
  scenes/layouts/test_roll_die/test.tscn
Labels: none

Adding comments
  scenes/entities/dice/dice.gd
Labels: none

feat(#24): Creating dice component that can roll a face (#31)
  scenes/entities/dice/dice.gd
  scenes/entities/dice/dice.gd.uid
  scenes/entities/dice/dice.tscn
  scenes/layouts/test_roll_die/main.gd
  scenes/layouts/test_roll_die/main.gd.uid
  scenes/layouts/test_roll_die/test.tscn
Labels: none

Addding menu background to repo
  assets/sprites/backgrounds/menu-background.png
  assets/sprites/backgrounds/menu-background.png.import
Labels: assets

chore(backgrounds): Adding menu background to repo (#33)
  assets/sprites/backgrounds/menu-background.png
  assets/sprites/backgrounds/menu-background.png.import
Labels: assets

Adding main menu and linking it to the test scenes
  project.godot
  scenes/levels/main_menu/main_menu.gd
  scenes/levels/main_menu/main_menu.gd.uid
  scenes/levels/main_menu/main_menu.tscn
  scenes/levels/test_roll_die/main.gd
  scenes/levels/test_roll_die/main.gd.uid
  scenes/levels/test_roll_die/test.tscn
Labels: none

feat(#22): Adding main menu and linking it to the test scenes (#34)
  project.godot
  scenes/levels/main_menu/main_menu.gd
  scenes/levels/main_menu/main_menu.gd.uid
  scenes/levels/main_menu/main_menu.tscn
  scenes/levels/test_roll_die/main.gd
  scenes/levels/test_roll_die/main.gd.uid
  scenes/levels/test_roll_die/test.tscn
Labels: none

Making the logs more consitent
  scenes/levels/test_roll_die/main.gd
Labels: none

chore(test-scene): Making our logs better for the test scene so we can see what was selected for the roll. (#35)
  scenes/levels/test_roll_die/main.gd
Labels: none

wip: Adding basic bags and die
  resources/dice/dice.gd
  resources/dice/dice.gd.uid
  resources/dice/die.gd
  resources/dice/die.gd.uid
  resources/dice/die/green_die.tres
  resources/dice/die/red_die.tres
  resources/dice/die/yellow_die.tres
  resources/dice/die_bag.gd
  resources/dice/die_bag.gd.uid
  resources/dice/faces/green_brain.tres
  resources/dice/faces/green_run.tres
  resources/dice/faces/green_shot.tres
  resources/dice/faces/red_brain.tres
  resources/dice/faces/red_run.tres
  resources/dice/faces/red_shot.tres
  resources/dice/faces/yellow_brain.tres
  resources/dice/faces/yellow_run.tres
  resources/dice/faces/yellow_shot.tres
Labels: none

Adding initial implementation
  resources/dice/basic_bag.tres
  resources/dice/dice.gd
  resources/dice/die/green_die.tres
  resources/dice/die/red_die.tres
  resources/dice/die/yellow_die.tres
  resources/dice/die_bag.gd
  scenes/levels/game/die_manager.gd
  scenes/levels/game/die_manager.gd.uid
  scenes/levels/game/game.tscn
Labels: none

feat(core): Adding new scene for playing the actual game (#36)
  resources/dice/basic_bag.tres
  resources/dice/dice.gd
  resources/dice/dice.gd.uid
  resources/dice/die.gd
  resources/dice/die.gd.uid
  resources/dice/die/green_die.tres
  resources/dice/die/red_die.tres
  resources/dice/die/yellow_die.tres
  resources/dice/die_bag.gd
  resources/dice/die_bag.gd.uid
  resources/dice/faces/green_brain.tres
  resources/dice/faces/green_run.tres
  resources/dice/faces/green_shot.tres
  resources/dice/faces/red_brain.tres
  resources/dice/faces/red_run.tres
  resources/dice/faces/red_shot.tres
  resources/dice/faces/yellow_brain.tres
  resources/dice/faces/yellow_run.tres
  resources/dice/faces/yellow_shot.tres
  scenes/levels/game/die_manager.gd
  scenes/levels/game/die_manager.gd.uid
  scenes/levels/game/game.tscn
Labels: none

Adding first demo build
  .gitignore
  export_presets.cfg
  scenes/levels/game/die_manager.gd
  scenes/levels/game/game.tscn
  scenes/levels/main_menu/main_menu.tscn
Labels: none

Adding workflow for it too
  .github/workflows/merge.yml
Labels: devops

feat(core): Adding base game flow minus game over screen (#37)
  .github/workflows/merge.yml
  .gitignore
  export_presets.cfg
  scenes/levels/game/die_manager.gd
  scenes/levels/game/game.tscn
  scenes/levels/main_menu/main_menu.tscn
Labels: devops

Update merge.yml
  .github/workflows/merge.yml
Labels: devops

fix(pipeline): Making sure it affects main too. (#38)
  .github/workflows/merge.yml
Labels: devops

Fix viewport stretch
  project.godot
  scenes/levels/game/game.tscn
Labels: none

fix(ui): Fix viewport stretch (#39)
  project.godot
  scenes/levels/game/game.tscn
Labels: none
